---
import Layout from '../layouts/Layout.astro';

import '../styles/styles.css';
---

<Layout title='Welcome to Astro.'>
  <main
    class='flex min-h-screen flex-col content-center justify-center bg-light-gray py-[85px]'>
    <div
      class='mx-auto max-h-[497px] max-w-[320px] rounded-[18px] bg-white px-4 pt-4'>
      <img
        class='mb-6 h-72 w-72 rounded-lg'
        src='/astro-frontend-mentor-3-column-preview-card-component/images/image-qr-code.png'
        alt=''
      />
      <div class='px-7'>
        <h1
          class='mb-4 text-center font-outfit text-xl font-bold text-dark-blue'>
          Improve your front-end skills by building projects
        </h1>
        <p
          class='mb-10 text-center font-outfit font-normal leading-[18.60px] tracking-tight text-grayish-blue'>
          Scan the QR code to visit Frontend Mentor and take your coding skills
          to the next level
        </p>
      </div>
    </div>
    <div class='mx-auto pt-10 text-center text-xs xl:text-base'>
      Challenge by <a
        href='https://www.frontendmentor.io?ref=challenge'
        target='_blank'>Frontend Mentor</a
      >. Coded with ❤️ by <a
        class='font-bold'
        href='https://www.frontendmentor.io/profile/EA-Morales'>L3GOL4S</a
      >.
    </div>
  </main>
</Layout>
